#flash {
  position: fixed;
  top: 10px;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 20px;
  background: #ead93f;
  border-radius: 5px;
  font-weight: 100;

  .close {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
